/* *{
    background-color: bisque;
}
h1::first-letter{
    font-size: 2rem;
    color: blueviolet;
    
} 

*{
    color: yellow;
}

.class1{
    color: chartreuse;
}
#id23{
    color: red;
}
.class2{
    color: darkred;
    background-color: bisque;
    
}
div{
    border-width: 20px;
    border-color: black;
}
h3{
    border-color: blue;
    border-width: 10px;
    border-style:inset;
    border-top-right-radius: 20px;
    border-top-color: brown;
    border-bottom-right-radius: 20px;
    border-top: 20px;
} */
/* p,
h1 {
    color: red;
    width: 500px;
    border: 1px solid black;
  } */
/* p {
    background: violet;
} */
/* #box{
background-color: blue;
} */
.heading{
    color: red;
}
.button{
    background-color: green;
}
.div1{
    background-color: brown;
    border: 2px solid black;
    height: 50vh;
    width: 10vh;
}
div{
    margin: 50%;
    background-color: chartreuse;
    border: 2px;
    height: 50%;
}
#form{
    border: 10px solid red;
    height: 50vh;
    width: 20vw;
}
/* #foodchoice{ */
    /* border: 2px solid red; */
    /* background-color: aqua; */

